

.sticky-header {
    position: sticky;
    top: 0;

    padding: .5rem 1rem;

    z-index: 100;
    background-color: #E4E4E4 ; 
    border-top: 1px solid #222 ;
    border-bottom: 1px solid #222 ;
    transition: background-color 0.3s ease-in-out;
  }

  .sticky-header.scrolled {
    background-color: white;
    border: none;
  }


  .nav-link{
    font-size: .75rem !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }
